<<h1 mat-dialog-title>
    Prikljucivanje sesiji
</h1>
<mat-dialog-content>
    <div class="flex flex-row flex-wrap">
       <form>
            <mat-form-field>
                <input matInput 
                placeholder="Unesite ime sesije" 
                [(ngModel)]="sessionName"
                name="sessionName"
                cdkAutoFocus
                (keyup.enter)="search()"
                 >
            </mat-form-field>
       </form>
    </div>
    <div *ngIf="search">
        <div *ngIf="sessions.length == 0">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <app-session-preview *ngFor="let session of sessions" [session]="session" (click)="selected(session)"></app-session-preview>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="basic" mat-dialog-close>Odustani</button>
    <button mat-button color="warn" [mat-dialog-close]="selectedSessions">Nastavi</button>
</mat-dialog-actions>
