<div class="max-w-full flex items-center justify-center h-screen bg-slate-500">
    <div class="flex flex-col justify-evenly bg-slate-700 mx-auto p-20 rounded-lg max-w-7xl p-50">
        <form #loginForm ngNativeValidate>
            <div class="mx-auto">
                <mat-form-field appearance="fill">
                    <mat-label>Korisnicko ime</mat-label>
                    <input 
                    matInput 
                    class="form-control"
                    placeholder="Korisnicko ime"
                    [(ngModel)]="user.username"
                    name="username"
                    id="username"
                    
                    >
                </mat-form-field>
            </div>
            <div class="mx-auto">
                <mat-form-field appearance="fill">
                    <mat-label>Lozinka</mat-label>
                    <input 
                    matInput 
                    class="form-control"
                    placeholder="Lozinka"
                    [(ngModel)]="user.password"
                    name="password"
                    id="password"
                    
                    type="password"
                    >
                </mat-form-field>
            </div>
            <span class="text-slate-200">
                Ili, brzi nacin prijave
            </span>
            <div class="mx-auto">
                <mat-form-field appearance="fill">
                    <mat-label>Licenca</mat-label>
                    <input 
                    matInput 
                    class="form-control"
                    placeholder="Licenca"
                    [(ngModel)]="licence"
                    name="licence"
                    id="licence"
                    
                    
                    >
                </mat-form-field>
            </div>
            <div class="space-x-5 flex justify-evenly" >
                <button mat-raised-button color="primary" (click)="onSubmit()">Prijavite se</button>
                <button mat-flat-button color="warn" class="cancel-button" routerLink="/">Odustanite</button>
            </div>
        </form>
        <div>
            <p class="text-slate-300" style="margin-bottom: 0; margin-top: 0.5rem;">Nemate nalog?</p>
            <button class="w-28 h-8 text-slate-50 rounded-md shadow-md bg-green-400/60" routerLink="/register/doctor">Registrujte se</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
