<div (click)="toggle()" *ngIf="session">
    <div *ngIf="clicked==true; else notClicked">
        <mat-card appearance="raised">
            <mat-card-header>
                <mat-card-title>
                    <h2>{{session.name}}</h2>
                </mat-card-title>
                <mat-card-subtitle>
                    <h3>{{session.appointment | date:'medium'}}</h3>
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <ng-template #notClicked>
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>
                    <h2>{{session.name}}</h2>
                </mat-card-title>
                <mat-card-subtitle>
                    <h3>{{session.appointment | date:'medium'}}</h3>
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </ng-template>
    
</div>